@font-face {
  font-family: Inter;
  src: url(../assets/fonts/static/Inter-Regular.ttf) format("truetype");
}

* {
  margin: 0;
}

body {
  font-family: "Inter";
}
.page {
  min-height: 100vh;
  background-color: hsl(0, 0%, 8%);
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.card {
  padding: clamp(16px, 5vw, 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(16px, 5vw, 24px);
  background-color: hsl(0, 0%, 12%);
  color: white;
  border-radius: 10px;
}

.card__image {
  width: 88px;
  height: 88px;
  border-radius: 50%;
}

.card__header {
  text-align: center;
}
.card__username {
  margin-block-end: 4px;
  font-weight: 900;
  font-size: clamp(16px, 5vw, 24px);
}

.card__user-location {
  color: hsl(75, 94%, 57%);
  font-size: clamp(10px, 3vw, 14px);
  font-weight: 600;
}
.card__user-description {
  font-size: clamp(10px, 3vw, 14px);
  font-weight: 600;
}

.card__social-list {
  list-style: none;
  padding: 0;
  font-size: clamp(10px, 3vw, 14px);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-list-item a {
  color: white;
  text-decoration: none;
  padding: 12px clamp(80px, 20vw, 90px);
  background-color: hsl(0, 0%, 20%);
  display: block;

  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.4s ease;
}

.social-list-item a:hover {
  color: black;
  background-color: hsl(75, 94%, 57%);
  transform: translateY(-2px);
}

.attribution {
  text-align: center;
  color: white;
  padding-block: 20px;
  font-size: clamp(10px, 3vw, 16px);
}
.attribution a {
  text-align: center;
  color: hsl(75, 94%, 57%);
  text-decoration: none;
}
